<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-digits-to-words</h1>
        <p class="lead">Digits to words helper library.</p>

        <hr class="my-4">

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="input">Type a number!</label>
              <input id="input"
                     type="text"
                     class="form-control"
                     (input)="digits = +input.value"
                     #input>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to words</h5>
                  <div vlahioDigitsToWordsRO [digits]="digits"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (RON)</h5>
                  <div vlahioDigitsToWordsRO [digits]="digits" [currency]="'RON'"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (EUR)</h5>
                  <div vlahioDigitsToWordsRO [digits]="digits" [currency]="'EUR'"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (USD)</h5>
                  <div vlahioDigitsToWordsRO [digits]="digits" [currency]="'USD'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to words</h5>
                  <div vlahioDigitsToWordsEN [digits]="digits"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (RON)</h5>
                  <div vlahioDigitsToWordsEN [digits]="digits" [currency]="'RON'"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (EUR)</h5>
                  <div vlahioDigitsToWordsEN [digits]="digits" [currency]="'EUR'"></div>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Number to currency (USD)</h5>
                  <div vlahioDigitsToWordsEN [digits]="digits" [currency]="'USD'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
